/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  outline: 1px solid red;

  * {
    outline: 1px dotted red;
  }
}

h1,
h2,
h3,
p,
div {
  margin: 0;
}

body {
  margin: 0;
}

.resume {
  width: 600px;
}

.experience-block {
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin-top: 20px;
  }
}
